.spot-images {
    display: flex;
    flex-wrap: wrap;
  }

  .large-image {
    flex: 0 0 calc(60% - 10px);
    margin-right: 10px;
  }

  .large-image img {
    padding-right: 10px;
  }

.small-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    flex: 0 0 40%;
}

.spot-image-each-small {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.small-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-session {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.owner-section {
  width:70%;
}

.pricing-section {
  width: 30%; /* Adjust the width based on your preference, leaving some space between the sections */
}
.owner {
  font-weight: bold;
}
.spot-detail {
    max-width: 1000px;
    margin: 0 auto;
}


.pricing-section {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

  .rating-and-reviews {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
  }

  .rating-and-reviews span {
    font-weight: bold;
    margin-right: 20px; /* Adjust spacing between the price and the star rating */
  }

.review-session-ratings {
  font-weight: bold;
  margin-bottom: 10px;
}


.post-review-modal button{
  border-color: var(--f-k-smk-x);
  margin-bottom: 10px;
}
