.spot-images {
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;
}

.spot-image-each {
    margin: 15px;
}


.info-session {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
}

.spot-detail {
    max-width: 1000px;
    margin: 0 auto;
}


/* .pricing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
} */
