.spot-images {
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;
}

.spot-image-each {
    margin: 15px;
}


.info-session {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
}

.spot-detail {
    max-width: 1000px;
    margin: 0 auto;
}


.pricing-section {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}

.spot-image-each-small {
    width: 25%;
    margin-right: 10px;
  }

  .rating-and-reviews {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .rating-and-reviews span {
    font-weight: bold;
    margin-right: 10px; /* Adjust spacing between the price and the star rating */
  }
